@import './variables.css';
@import './animations.css';

/* Général */

*{
    box-sizing: border-box;
    font-family: "Raleway", sans-serif;
}

::-webkit-scrollbar {
    width: 10px;
    background: var(--lightGray);
}
::-webkit-scrollbar-thumb {
    border: solid 0 transparent;
    background-color: #737373;
}

html{
    scroll-behavior: smooth;
}

body{
    position: relative;
    margin: 0;
}

section:not(.presentation){
    padding: 100px 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.section-title{
    position: relative;
    color: var(--black);
    position: relative;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    word-spacing: 0.05em;
    margin: 0 0 10px 0;
}
section > p{
    text-align: center;
    margin: 0 0 70px 0;
}

h3{
    font-size: 0.9em;
    letter-spacing: 0.05em;
    word-spacing: 0.05em;
    text-transform: uppercase;
}

img.icons{
    width: 50px;
}

.reveal [class*="reveal-"]{
    opacity: 0;
    transform: translateY(-30px);
}
.reveal-visible [class*="reveal-"]{
    opacity: 1;
    transform: translateY(0);
    transition: transform 1s, opacity 1s;
}
.reveal-visible .reveal-2{
    transition-delay: .2;
}
.reveal-visible .reveal-3{
    transition-delay: .4s;
}
.reveal-visible .reveal-4{
    transition-delay: .6s;
}
.reveal-visible .reveal-5{
    transition-delay: .8s;
}

/****** header ***********/
.header{
    z-index: 300;
    width: 100%;
    height: 65px;
    position: fixed;
    top: 0;
    left: 0;
}
.nav{
    z-index: 400;
    width: 100%;
    height: 100%;
    padding: 0 75px;
    transition: all 0.5s ease;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 2px 20px 0px rgba(0,0,0,0.45);
    background-color: var(--white);
}
.nav > p{
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-size: 1.1em;
    margin: 0;
}
.menu > ul{
    list-style-type: none;
    display: flex;
}
.menu li:not(:first-child){
    margin-left: 50px;
}
.menu > ul a{
    color: rgba(16, 16, 16, 0.6);
    position: relative;
    font-size: 0.7em;
    font-weight: 500;
    font-family: 'Hind', sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    transition: 0.3s;
}
.menu > ul a:hover {
    color: var(--black);
}
.nav.header-black{
    background-color: var(--black);
}
.nav.header-black ul a, .nav.header-black > p{
    color: #b9b9b9;
}
.nav.header-black ul a:hover, .nav.header-black ul a.active {
    color: var(--white);
}
.link{
    z-index: 500;
    opacity: 1;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    transition: 0.4s ease;
}
.link a{
    color: var(--lightGray);
    font-size: 1.2em;
}
.link a:not(:last-of-type){
    margin-bottom: 20px;
}
.blackLink i{
    color: var(--black);
}
.burger_menu{
    display: none;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    width: 25px;
    height: 20px;
    cursor: pointer;
}
.burger_menu > span{
    border: 1px var(--black) solid;
}
.burger_menu > span:not(:last-child){
    width: 100%;
}
.burger_menu > span:last-child{
    width: 60%;
}

/****** Présentation ***********/
.presentation{
    position: relative;
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)), 
    url('../assets/images/background.webp');
    background-attachment: fixed;
    background-size: cover; 
}
.presentation__overlay{
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.1);
}
.presentation__overlay a {
    position: absolute;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
    text-decoration: none;
    cursor: pointer;
}
.presentation__overlay a > img{
    opacity: 0.8;
    animation: 10s .5s ease-in infinite flotting; 
}
.presentation__content{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--white);
}
.presentation__content h1{
    font-size: 3em;
    letter-spacing: 0.5em;
    word-spacing: 0.1em;
    text-transform: uppercase;
    text-align: center;
    font-weight: 400;
    margin: 50px 0 0 0;
}
.presentation__content p{
    font-size: 1.25em;
    text-align: center;
    letter-spacing: 0.75em;
    word-spacing: 0.1em;
    font-weight: 300;
    text-transform: uppercase;
    margin: 20px 0 25px 0;
}

/****** About ***********/
.about-title{
    margin-bottom: 0;
}
.about-content{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.about-paragraph{
    color: rgb(92, 92, 92);
    font-size: 1em;
    font-weight: 300;
}
.about-paragraph p{
    margin-top: 0;
    line-height: 1.6em;
    text-align: center;
}
.about-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px 0;
}
.about-info img{
    width: 95px;
    height: 95px;
    border-radius: 100px;
    object-fit: cover;
}
.about-info p{
    line-height: 1.5em;
    font-size: 1em;
    color: rgb(92, 92, 92);
    font-weight: 300;
    text-align: center;
    margin: 15px 0 0;
}
.about-info > p > strong{
    font-weight: 500;
    color: var(--black);
}

/****** Portfolio ***********/
.portfolio{
    background-color: var(--lightGray);
}
.section-gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}
.section-gallery > a {
    aspect-ratio: 1/1;
    position: relative;
    width: 100%;
    overflow: hidden;
    box-shadow: var(--shadowCard);
}
.project-content {
    width: 100%;
    height: 100%;
    margin: 0;
    position: relative;
    overflow: hidden;
}
.project-content img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition:  0.5s;
}
.project-info{
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    padding: 20px;
    color: var(--black);
    font-size: 1.5em;
    background-color: rgba(0, 0, 0, 0);
}
.project-content:hover > .project-info{
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.7);
    transition:  0.5s;
}
.project-content:hover > img{
    transform: scale(1.2);
}
.project-info h3{
    opacity: 0;
    font-weight: 400;
    text-transform: none;
    color: var(--white);
    text-align: center;
    transform: translateY(-50px);
    transition: 0.5s;
}
.project-content:hover > .project-info h3{
    opacity: 1;
    transform: translateY(0);
}

/****** Skills ***********/
.skills-list{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}
.skill{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 30px;
    box-shadow: var(--shadowCard);
}
.skill:hover{
    box-shadow: rgba(99, 99, 99, 0.6) 0px 2px 8px 0px;
    transition: box-shadow 0.3s ease-in-out;
}
.skill::before, .skill::after {
    content: "";
    position: absolute;
    top: 0;
    width: 0%; 
    height: 100%;
    border: 2px var(--black) solid;
    border-right: none;
    border-left: none;
    transition: width 0.6s ease; 
}
.skill::before {
    left: 0;
    border-bottom: none;
}
.skill::after {
    right: 0;
    border-top: none;
}
.skill:hover::before, .skill:hover::after {
    width: 50%;
}
.skill i{
    height: 60px;
    width: 60px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 60px;
    border-radius: 100px;
    background: var(--black);
    color: var(--white);
    font-size: 1.4em;
}
.skill h3{
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    margin: 20px 0;
    color: #595959;
}
.skill p{
    font-size: 0.9em;
    text-align: center;
    line-height: 1.5em;
    color: #595959;
    margin: 0;
}

/****** Learn more ***********/
.learn-more{
    background-color: var(--lightGray);
    align-items: flex-start;
}
.info{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}
.flip-container {
    perspective: 1000px;
}
.flip-card {
    width: 100%;
    min-height: 300px;
    transition: transform 0.6s ease-in-out;
    transform-style: preserve-3d;
    position: relative;
    cursor: pointer;
    box-shadow: var(--shadowCard);
    will-change: transform;
}
.flip-container:hover .flip-card{
    transform: rotateX(-180deg);
}
.flip-card-front, .flip-card-back {
    backface-visibility: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.flip-card-front{
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.flip-card-front > .icon-container{
    height: 80px;
    width: 80px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 80px;
    border-radius: 100px;
    background: var(--black);
}
.flip-card-front .icons{
    display: inline-block;
}
.flip-card-front h3{
    font-weight: 700;
    text-align: center;
    margin: 20px 0;
    color: #595959;
}
.flip-card-back {
    background-color: var(--black);
    transform: rotateX(-180deg);
    padding: 25px;
}
.flip-card-back p, .flip-card-back ul{
    color: var(--white);
    font-size: 0.9em;
    line-height: 1.3em;
}
.flip-card-back ul{
    padding: 0;
    list-style-type: "-";
}
.flip-card-back li:not(:last-child){
    margin-bottom: 10px;
}

/****** Contact ***********/
.contact{
    padding: 80px 180px;
}
.contact > h2{
    margin-bottom: 50px;
}
.contact > form{
    width: 700px;
    display: flex;
    flex-direction: column;
}
.contact > form > input, .contact > form > button, .contact > form > textarea{
    padding: 10px;
    border-radius: 3px;
}
.contact > form > input, .contact > form > textarea{
    border: 1px rgb(214, 214, 214) solid;
    margin-bottom: 25px;
}
.contact > form > button{
    position: relative;
    background-color: var(--black);
    border: none;
    color: var(--white);
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 0.1em;
    word-spacing: 0.1em;
    z-index: 1;
    border: 2px var(--black) solid;
}
.contact > form > button::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--white);
    transition: all .5s;
    z-index: -1;
    transform: scale(0);
}
.contact > form > button:hover {
    color: var(--black);
}
.contact > form > button:hover::before {
    transform: scale(1);
}

/****** Footer ***********/
.footer{
    padding: 60px 0;
    background-color: var(--black);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--white);
}
.footer a{
    color: var(--white);
    text-decoration: none;
}
.footer-socials{
    margin-bottom: 20px;
}
.footer-socials > a{
    font-size: 1.2em;
}
.footer-socials > a:not(:first-child){
    margin-left: 17px;
}
.footer > a{
    font-style: italic;
}

/****** Modal ***********/
.modal{
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1000;
    animation: fadeIn .3s both;
}
.modal-wrapper{
    position: relative;
    overflow: auto;
    width: 65%;
    min-height: 500px;
    max-width: calc(100vw - 20px);
    max-height: calc(100vh - 20px);
    padding: 25px;
    background-color: var(--white);
    border-radius: 7px;
    animation: slideFromTop .6s both;
}
.modal[aria-hidden="true"]{
    animation-name: fadeOut;
}
.modal[aria-hidden="true"] .modal-wrapper{
    animation-name: slideToTop;
}
.modal-wrapper > i{
    position: absolute;
    top: 25px;
    right: 25px;
    cursor: pointer;
}
.modal-wrapper > h2{
    text-transform: uppercase;
    font-size: 1.3em;
    font-weight: 600;
    word-spacing: 0.05em;
    letter-spacing: 0.05em;
}
.modal-wrapper > button{
    background-color: var(--black);
    color: var(--white);
    padding: 10px 25px;
    margin-top: 30px;
    border: none;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 0.1em;
    border-radius: 3px;
    cursor: pointer;
}
.modal-content > h3{
    font-weight: 600;
    margin-top: 30px;
}
.modal-content > ul, .modal-content > p{
    color: #3f3f3f;
    font-size: 0.95em;
    line-height: 1.2em;
}
.modal-content > .project-difficulties{
    padding-left: 30px;
}
.modal-content > .project-difficulties strong{
    font-weight: 600;
    word-spacing: 0.05em;
    letter-spacing: 0.05em;
}
.modal-content > .project-difficulties > li:not(:last-child){
    margin-bottom: 15px;
}
.modal-content > .project-skills {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}
.modal-content > .project-skills > li{
    background-color: var(--black);
    color: var(--white);
    border-radius: 7px;
    padding: 5px 20px;
    margin-bottom: 10px;
}
.modal-content > .project-skills > li:not(:last-child){
    margin-right: 10px;
}
.modal-content > .project-github{
    display: inline-block;
    color: var(--black);
}

/****** Media queries ***********/

/* Medium to large devices (less/equal than 1400px) */
@media (max-width: 1400px) { 
    /****** Général ***********/
    section:not(.presentation){
        padding: 100px 60px;
    }
}

/* Medium devices (less/equal than 1250px) */
@media (max-width: 1250px) { 
    /****** Skills ***********/ 
    .info{
        grid-template-columns: repeat(2, 1fr);
    }
}

/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    /****** header ***********/
    .link{
        position: static;
        flex-direction: row;
        transform: translateY(0);
        margin-top: 15px;
    }
    .link a, .blackLink i{
        color: rgba(16, 16, 16, 0.6);
    }
    .link a:not(:last-of-type){
        margin: 0 25px 0 0;
    }
    .nav{
        padding: 0 25px;
    }
    .menu{
        transform: translateY(-250px);
        flex-direction: column;
        background-color: var(--white);
        position: fixed;
        top: 65px;
        right: 0;
        height: auto;
        width: auto;
        padding: 20px;
        box-shadow: var(--shadowCard);
        transition: .5s;
        z-index: -10;
    }
    .menu > ul{
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 0;
    }
    .menu li:not(:first-child){
        margin-left: 0;
        margin-top: 10px;
    }
    .nav.header-black ul a:hover, .nav.header-black ul a.active {
        color: var(--black);
    }
    .burger_menu{
        display: flex;
    }

    /****** About ***********/  
    .about-content{
        width: 100%;
    }   

    /****** Portfolio ***********/
    .section-gallery {
        grid-template-columns: repeat(2, 1fr);
        gap: 25px;
    }
    
    /****** Skills ***********/
    .skills-list{
        grid-template-columns: repeat(2, 1fr);
        gap: 25px;
    }

    /****** Learn more ***********/
    .info{
        gap: 25px;
    }
    
    /****** Contact ***********/
    .contact > form{
        width: 100%;
    }
 
    /****** Modal ***********/
    .modal-wrapper{
        width: 100%;
        max-width: calc(100vw - 200px);
        max-height: calc(100vh - 100px);
    }
}

/* Small devices (phones, less than 768px) */
@media (min-width: 320px) and (max-width: 768px){ 
    /****** header ***********/
    section:not(.presentation){
        padding: 50px 25px;
    }
    .section-title{
        font-size: 1.8em;
        margin: 0 0 20px 0;
    }
    section > p{
        margin: 0 0 40px 0;
    }
    
    /****** Presentation ***********/
    .presentation{
        width: 100%;
        min-height: 40vh;
        max-height: 40vh;
        background-attachment: scroll;
    }
    .presentation__overlay{
        height: 40vh;
    }
    .presentation__content h1{
        font-size: 1.8em;
        letter-spacing: 0.2em;
        margin-top: 75px;
    }
    .presentation__content p{
        font-size: 1.1em;
    }
    .presentation__content a {
        display: none;
    }
    
    /****** About ***********/
    .about-title{
        margin-bottom: 0;
    }
    .about-content{
        width: 100%;
    }
    
    /****** Grid gallery, skills, info ***********/
    .section-gallery, .skills-list, .info{
        grid-template-columns: repeat(1, 100%);
    }

    /****** Learn more ***********/
    .learn-more{
        align-items: center;
    }
    
    /****** Contact ***********/
    .contact > h2{
        margin-bottom: 40px;
    }
    .contact > form{
        width: 100%;;
    }
    
    /****** footer ***********/
    .footer{
        padding: 30px 0;
    }

    /****** Modal ***********/
    .modal-wrapper{
        width: 100%;
        max-width: calc(100vw - 20px);
    }
}